.accordions {

width: 80%;

margin: 100px auto;

}

.accordions h3 {

text-align: center;

font-weight: bold;

font-family: “Roboto”, sans-serif;

}

.accordion-item {

background-color: #0b3791;

border-radius: 5px;

color: #ffffff;

margin-bottom: 20px;

border: 1px solid #100e34;

}

.accordion-item .accordion-title {

cursor: pointer;

padding: 20px;

transition: transform 0.4s ease-in-out;

}

.accordion-item .accordion-title.active-title {

background-color: #100e34;

color: #ffffff;

}

.accordion-item .accordion-title h3 {

font-weight: 700;

margin: 0;

justify-content: space-between;

font-weight: bold;

font-size: 18px;

display: flex;

}

.accordion-item .accordion-title i.fa-chevron-down {

transform: rotate(0);

transition: 0.4s;

}

.accordion-item .accordion-title i.fa-chevron-down.chevron-top {

transform: rotate(-180deg);

color: #fa5019;

}

.accordion-item .accordion-content {

display: none;

line-height: 1.7;

color: #100e34;

padding: 20px;

background-color: #ffffff;

border-radius: 0 0 5px 5px;

}

.accordion-item .accordion-content.active {

display: block;

}

.accordion-item .accordion-content p {

margin: 0;

font-size: 16px;

font-family: “Nunito Sans”, sans-serif;

}

.details {

background: #dce1f2;

}

.details .detailed_info {

margin: 50px auto;

}

.details img {

margin: 0 auto;

display: block;

}

.details h3 {

font-weight: bold;

font-size: 20px;

font-family: “Poppins”, sans-serif;

}

.details p {

font-size: 16px;

line-height: 1.5em;

font-family: “Nunito Sans”, sans-serif;

}

.details ul li {

font-size: 16px;

line-height: 1.7em;

font-family: “Nunito Sans”, sans-serif;

}