<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE tiles-definitions PUBLIC  
       "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"  
       "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>

	<!-- User Layout -->
	<definition name="user.definition" template="/WEB-INF/views/index.jsp">
		<put-attribute name="head" value="/WEB-INF/views/layout/head.jsp" />
		<put-attribute name="header" value="/WEB-INF/views/layout/header.jsp" />
		<put-attribute name="menu" value="/WEB-INF/views/layout/menu.jsp" />
		<put-attribute name="slide" value="/WEB-INF/views/layout/slide.jsp" />
		<put-attribute name="body" value="" />
		<put-attribute name="aside" value="/WEB-INF/views/layout/aside.jsp" />
		<put-attribute name="footer" value="/WEB-INF/views/layout/footer.jsp" />
	</definition>
	<!-- User View -->
	<definition name="*/*" extends="user.definition">
		<put-attribute name="body" value="/WEB-INF/views/{1}/{2}.jsp" />
	</definition>
	<!-- User View Without Layout-->
	<definition name="non-layout/*/*" template="/WEB-INF/views/non-layout.jsp">
		<put-attribute name="body" value="/WEB-INF/views/{1}/{2}.jsp" />
	</definition>

</tiles-definitions> 